.header {
    -fx-background-color: rgb(200, 200, 200);
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 20, 0.1, 0.0, 0.0);
}

.background {
    -fx-background-color: rgb(224, 224, 224);
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 20, 0.1, 0.0, 0.0);
}

.button-container {
    -fx-background-radius: 20px;
    -fx-background-color: rgb(200, 200, 200);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 20, 0.1, 0.0, 0.0);
}

.job-button {
    -fx-background-radius: 20px;
    -fx-background-color: transparent;
}

.job-button-selected {
    -fx-background-color: rgb(211, 166, 237);
}

.parameter-button {
    -fx-background-radius: 4px;
    -fx-background-color: white;
}

.add-button {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 20, 0.1, 0.0, 0.0);
}

.text-field-border {
    -fx-border-color: black;
    -fx-border-radius: 5px;
}

.text-field-label {
    -fx-background-color: rgb(200, 200, 200);
}

.text-field {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: gray;
}

.red-border {
    -fx-border-color: red;
}

.red-text {
    -fx-text-fill: red;
}