.background {
    -fx-background-radius: 10px;
}

.label-box {
    -fx-background-radius: 10px 10px 0 0;
    -fx-background-color: lightblue;
}

.label-box-selected {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 2, 0.5, 0.0, 0.0);
}