.header {
    -fx-background-radius: 10px;
}

.background {
    -fx-background-radius: 10px;
}

.button-container {
    -fx-background-radius: 20px;
}

.job-button {
    -fx-background-radius: 20px;
    -fx-background-color: transparent;
}

.job-button-selected {
    -fx-background-color: rgb(211, 166, 237);
}

.parameter-button {
    -fx-background-radius: 4px;
    -fx-background-color: white;
}

.add-button {
    -fx-background-radius: 10px;
}

.text-field-border {
    -fx-border-color: black;
    -fx-border-radius: 5px;
}

.text-field {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: gray;
}

.red-border {
    -fx-border-color: red;
}

.red-text {
    -fx-text-fill: red;
}